<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= produto.nome %></title>
    <link rel="stylesheet" type="text/css" href="/estilo.css">
</head>
<body class="produto">
    <h1 class="nomeproduto"><%= produto.nome %></h1>
    <p class="conteudo">R$ <%= produto.preco %>,00</p>
    <p class="conteudo"><%= produto.categoria %></p>
    <a href="/">Voltar à página de produtos</a>
</body>
</html>